USE [master]
GO
/****** Object:  Database [Allegiance]    Script Date: 19/3/2020 12:51:16 ******/
CREATE DATABASE [Allegiance]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Allegiance', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Allegiance.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Allegiance_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Allegiance_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Allegiance].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Allegiance]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 19/3/2020 12:51:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[IdProduct] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[IdProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([IdProduct], [Name], [Description], [Quantity]) VALUES (1, N'Cars', N'Tesla', 20)
INSERT [dbo].[Products] ([IdProduct], [Name], [Description], [Quantity]) VALUES (2, N'Bykes', N'BMW', 45)
SET IDENTITY_INSERT [dbo].[Products] OFF
USE [master]
GO
